[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = {extras = ["sqlalchemy"], version = "*"}
inflect = "*"
passlib = {extras = ["bcrypt"], version = "*"}
multipart = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]
mypy = "*"
flake8 = "*"
isort = "*"
ipython = "*"
litecli = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}
black = "*"
ipdb = "*"

[requires]
python_version = "3.10"
